/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.divider {
	background-color: #000;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #000;
}

.invisible {
	display:none;
}

/* Heading styles */

h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}

a, p, span, li {
	font-weight: 300;
}

.text-header {
  	margin-top:40px;
  	margin-bottom:40px;
  }
.text-header h5 {
	margin-top:0;
}
h5 {
	margin-bottom:5px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.00rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
  }
  .text-header {
  	margin-top:20px;
  	margin-bottom:20px;
  }
  h5 {
  	font-size: 1.25em;
  }
 }

 @media (max-width: 992px) and (min-width: 600px) {
  h1 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
  }
 }

/* home page styling of stuff */

/*ul {
	margin-top:3px;
}

p {
	margin-top:3px;
	margin-bottom:3px;
	line-height:1.2;
}*/

/* Ticker styling */

.inline {
	display: inline;
}

/* NAV STYLING */
nav {
	box-shadow: none;
}

nav .brand-logo, nav ul a, nav i {
	color: #000;
}

.side-nav li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
/*CARD STYLING*/

.card {
	box-shadow: none;
}

.card-panel {
	box-shadow: none;
	background-color: transparent;
	padding:0;
}

.card-panel a {
	font-weight: 500;
}

/* but pls hire me */

#hidden {
	font-size:10px;
	padding:10px;
	float:right;
	z-index: 9999;
	opacity:0;
    -webkit-transition:opacity 0.5s ease-in-out;
    -moz-transition:opacity 0.5s ease-in-out;
    -o-transition:opacity 0.5s ease-in-out;
    -ms-transition:opacity 0.5s ease-in-out;
    transition:opacity 0.5s ease-in-out;
}

#hidden:hover {
    opacity:1;
    -webkit-transition:opacity 0.5s ease-in-out;
    -moz-transition:opacity 0.5s ease-in-out;
    -o-transition:opacity 0.5s ease-in-out;
    -ms-transition:opacity 0.5s ease-in-out;
    transition:opacity 0.5s ease-in-out;
}

/* button styling */

.btn-flat {
	border-radius:0;
	text-transform: lowercase;
}

/* Fun spinning thing */

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* about page columns */

@media (max-width: 600px) {
	.col .about {
		padding-left:0px;
	}
}

/* resume styles */

.resume-header{
	margin-top:0; 
	font-size:120%;
}

@media (max-width: 600px) {
	.resume-header{
		font-size:110%;
	}
}

.resume-p {
	margin:0;
}

.clear {
	clear: both;
}