body {
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.fluid-container {
  margin-left: 3rem;
  margin-right: 3rem;
}
.grid {
  display: flex;
}

.column {
  flex: 1;
  padding: 0.75rem;
  &:first-child {
    padding-left: 0px;
  }
  &.is-6 {
    width: 50%;
    flex: none;
  }
}

a {
  text-decoration: none;
}
